#root {
  margin: 0 auto;
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
}

h2, h3, a, img, p{
  margin-left: 40px;
  margin-right: 40px;
}

h2, p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3, a{
  font-family: 'Lithos Pro';
}

header{
  background-image: url(assets/top-background.png);
  background-size: cover;
  background-position: center center;
  color: white;
  min-height: 600px;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#text{
  animation-name: enter-left;
  animation-duration: 1s;
}

#logoslogan{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h2{
  font-size: 160%;
}
header #logo{
  height: 70%;
  width: 72.5%;
}

.info-sec{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

img{
  height: calc(100% - 80px);
  width: calc(100% - 80px);
  object-fit: contain;
  border-radius: 2em;
  margin-top: 40px;
}

#image{
  align-items: end;
  animation-name: enter-right;
  animation-duration: 1s;
}

#tromprun{
  object-position: right;
  margin-right: 0;
}

main{
  height: 400vh;
  width: auto;
}

main h3{
  font-size: 200%;
}

main p{
  font-size: 150%;
  text-align: center;
}

main .info{
  height: 25%;
  min-height: 600px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

main .info .info-sec{
  justify-content: center;
  align-items: center;
}

.link-button{
  background-color: #483d8b;
  color: whitesmoke;
  text-decoration: none;
  font-size: 150%;
  min-height: 75px;
  min-width: 300px;
  width: 300px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 7.5px solid black;
  margin-bottom: 40px;
}

#normal1{
  background-color: black;
  background-image: url(assets/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  flex-direction: row;
}
#reverse1{
  background-color: black;
  background-image: url(assets/background1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  color: white    ;
  flex-direction: row-reverse;
}
#normal2{
  background-color: black;
  background-image: url(assets/background4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
  flex-direction: row;
}
#reverse2{
  background-color: black;
  background-image: url(assets/background3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  color: white    ;
  flex-direction: row-reverse;
}

#anim-download{
  color: white;
  height: 75px;
  width: 300px;
  box-shadow: 0 0 2.5px 5px #ffee00,
  0 0 17.5px 17.5px #ffa600,
  0 0 25px 30px #ff0000;
  border-radius: 2em;
  outline-color: darkred;
  margin-bottom: 75px;
  margin-left: 125px;
  background-color: brown;
  transition-property: all;
  transition-duration: .5s;
  animation-name: flames;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#anim-download:hover{
  outline-color: black;
  box-shadow: 0 0 0px 0px #ffee00,
  0 0 0px 0px #ffa600,
  0 0 0px 0px #ff0000;
  height: 80px;
  width: 305px;
  animation: none;
  transition-property: all;
  transition-duration: .5s;
  background-color: #0095FF;
}

.link-button:hover{
  height: 80px;
  width: 305px;
  transition-property: all;
  transition-duration: .5s;
}

#static-readmore  {
  background-color: white;
  color: black;
  border: none !important;
}

#static-download {
  background-color: black;
  color: white;
  border: none !important;
}

p{
  width: 60%;
}

@keyframes flames{
  0%{
    box-shadow: 0 0 2.5px 5px #ffee00,
    0 0 17.5px 17.5px #ffa600,
    0 0 25px 30px #ff0000;
  }
  50%{
    box-shadow: 0 0 5px 7.5px #ffee00,
    0 0 25px 25px #ffa600,
    0 0 40px 35px #ff0000;
  }
  100%{
    box-shadow: 0 0 2.5px 5px #ffee00,
    0 0 17.5px 17.5px #ffa600,
    0 0 25px 30px #ff0000;
  }
}

@keyframes enter-left{
  0%{
    margin-left: -50vw;
  }
  100%{
    margin-left: 0vw;
  }
}

@keyframes enter-right{
  0%{
    margin-right: -50vw;
  }
  100%{
    margin-right: 0vw;
  }
}
