body{
  margin: 0;
  padding: 0;
}
header{
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#left-sec{
  height: calc(100% - 80px);
  width: calc(50% - 40px);
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right-sec{
  height: calc(100% - 80px);
  width: calc(50%-40px);
  margin-right: 40px;
}

#right-sec img{
  height: 100%;
  width: 100%;
}

main{
  height: 160vh;
}

.info-sec{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#normal{
  flex-direction: row;
  background-color: blue;
}
#reverse{
  flex-direction: row-reverse;
  background-color: yellow;
}